<div class='course-info row'>
  <div class='large-3 columns'>
    <h3> <%= link_to @quiz.course.title.upcase, course_path(@quiz.course) %> </h3>
  </div>
  <div class='large-9 columns'>
    <h3> <%= @quiz.title %> </h3>
  </div>
</div>

<% if @quiz.questions.any? %>
  <div class='quiz row'>
    <div class='large-3 columns'>
    </div>
    <div class='large-9 columns'>
      <div class='quiz-q'>
        <% @quiz.questions.each do |question| %>
          <h4><%= question.text %></h4>
          <% question.answers.pluck(:text).each do |answer| %>
            <%= answer %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if @quiz.course.user == current_user || current_user.admin? %>
  <%= render partial: 'quizzes/new_question',
      locals: { quiz: @quiz, question: @question } %>
<% end %>
