<div id= 'user' class='row'>
  <div class='large-3 columns'>
    <h3><%= @user.name.upcase %></h3>
    member since:<br> <%= @user.created_at.strftime("%b %d, %Y") %><br>
  </div>
  <div class='large-9 columns'>
    <h4>courses authored:</h4>
    <% if @user.courses.any? %>
      <ul>
        <% @user.courses.each do |course| %>
          <li><%= link_to course.title, course_path(course) %></li>
        <% end %>
      </ul>
    <% else %>
       <% if @user == current_user %>
        You haven't created any courses yet!
        <%= link_to "Make one", new_course_path %> now?
       <% else %>
        This user hasn't authored any courses yet!
       <% end %>
    <% end %>

    <h4>courses enrolled in:</h4>
    <% if @enrollments.any? %>
      <ul>
        <% @enrollments.each do |enrollment| %>
          <li><%= link_to enrollment.course.title,
           course_path(enrollment.course) %></li>
        <% end %>
      </ul>
    <% else %>
       <% if @user == current_user %>
        You aren't enrolled in any courses yet!
       <% else %>
        This user hasn't enrolled in any courses yet!
       <% end %>
    <% end %>
  </div>
</div>
