<div id='title', class='row'>
  <h1 id='outteach'><span class='subheader'>OUTTEACH</h1>
  <h1>SHARE YOUR KNOWLEDGE</h1>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="10" view-box="0 0 16 10">
                        <desc>Created with Avocode</desc>
                        <g fill="#cb0919">
                            <path d="M 6.76 7.83 L 8.17 9.24 L 15.24 2.17 L 13.83 0.76 L 6.76 7.83 Z"></path>
                            <path d="M 2.17 0.76 L 0.76 2.17 L 7.83 9.24 L 9.24 7.83 L 2.17 0.76 Z"></path>
                        </g>
                    </svg>
</div>

<div id='about', class='body row'>
  <div class='large-3 columns'>
  <h3>RECENTLY<br>ADDED<br>COURSES</h3>
  </div>
  <div class='large-9 columns'>
      <% @courses.each do |course| %>
        <h4><%= course.title %></h4> by <%= course.user.name %><br>
      <% end %><br>

    <% if user_signed_in? %>
      <%= link_to "VIEW ALL COURSES", courses_path, class: 'button' %>
    <% else %>
      <h4>
        <%= link_to "Log in", new_user_session_path %> or
        <%= link_to "Sign up", new_user_registration_path %>
        to view more courses or add your own
      </h4>
    <% end %>
  </div>
</div>

<div id='info', class='row'>
  <div class='large-3 columns'>
    <h3>HOW TO<br>USE THIS<br>WEBSITE</h3>
  </div>
  <div class='large-9 columns'>
  </div>
</div>

<div class='row'>
  <div class='large-3 columns'>
    <h3>ABOUT<br>THIS<br>WEBSITE</h3>
  </div>
  <div class='large-9 columns'>
  </div>
</div>
