<%= link_to "Back to all courses", courses_path, class: 'button' %>

<h2><%= @course.title %></h2>

  <% if @course.user == current_user || current_user.admin? %>
    <ul class="button-group">
      <li>
        <%= link_to "Delete Course",
            course_path(@course),
            method: :delete,
            data: { confirm: 'Are you sure you want to delete this course and all its assignments?' },
            class: 'button' %>
      </li>
      <li>
        <%= link_to "Update Course Info",
            edit_course_path(@course),
            class: 'button' %>
      </li>
    </ul>
  <% else %>
    <p>
      created by: <%= link_to @course.user.name, user_path(@course.user) %><br>
      last updated at: <%= @course.updated_at %>
    </p>
  <% end %>

  <%= @course.subject %><br>
  <%= @course.description %><br>

  <% if @course.assignments.any? %>
    <% @course.assignments.each do |assignment| %>
      <li>
        <%= link_to assignment.title, assignment_path(@course, assignment) %>
      </li>
    <% end %>
  <% end %>

<% if @course.user == current_user || current_user.admin? %>
  <%= link_to "Add a new assignment", new_course_assignment_path(@course) %>

  <div id='new-quiz'>
    <h3>Add a new quiz</h3>
    <%= form_for [@course, @quiz] do |f| %>
      <% if @quiz.errors.any? %>
      <div id="error_explanation">
        <p class="alert-box alert"><%= pluralize(@quiz.errors.count, "error") %> prohibited this post from being saved:</p>

        <ul>
        <% @quiz.errors.full_messages.each do |msg| %>
          <li class="alert-box secondary"><%= msg %></li>
        <% end %>
        </ul>
      </div>
      <% end %>
      <p>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </p>
      <p>
        <%= f.submit "Create Quiz", class: 'button' %>
      </p>
    <% end %>
  </div>
<% end %>
