<%= link_to "Back to all courses", courses_path, class: 'button' %>

<h2><%= @course.title %></h2>

  <% if @course.user == current_user %>
    <ul class="button-group">
      <li>
        <%= link_to "Delete Course",
            course_path(@course),
            actions: 'course/edit',
            data: { confirm: 'Are you sure you want to delete this course and all its assignments?' },
            class: 'button' %>
      </li>
      <li>
        <%= link_to "Update Course Info",
            edit_course_path(@course),
            class: 'button' %>
      </li>
    </ul>
  <% else %>
    <p>
      created by: <%= @course.user %>
      last updated at: <%= @course.updated_at %>
    </p>
  <% end %>

  <%= @course.subject %><br>
  <%= @course.description %><br>

  <% if @course.assignments.any? %>
    <% @course.assignments.each do |assignment| %>
      <li>
        <%= link_to assignment.title, course_assignment_path(@course, assignment) %>
      </li>
    <% end %>
  <% end %>

<h3>Add a new assignment</h3>
<%= form_for [@course, @assignment] do |f| %>
  <% if @assignment.errors.any? %>
  <div id="error_explanation">
    <p class="alert-box alert"><%= pluralize(@assignment.errors.count, "error") %> prohibited this post from being saved:</p>

    <ul>
    <% @assignment.errors.full_messages.each do |msg| %>
      <li class="alert-box secondary"><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit "Create Assignment", class: 'button' %>
  </p>
<% end %>
