<%= link_to "Back to all courses", courses_path, class: 'button' %>

<h2><%= @course.title %></h2>
  <%= @course.subject %><br>
  <%= @course.description %><br>

  <% if @course.assignments.any? %>
    <% @course.assignments.each do |assignment| %>
      <li>
        <%= link_to assignment.title, course_assignment_path(@course, assignment) %>
      </li>
    <% end %>
  <% end %>

<h3>Add a new assignment</h3>
<%= form_for [@course, @assignment] do |f| %>
  <% if @assignment.errors.any? %>
  <div id="error_explanation">
    <p class="alert-box alert"><%= pluralize(@assignment.errors.count, "error") %> prohibited this post from being saved:</p>

    <ul>
    <% @assignment.errors.full_messages.each do |msg| %>
      <li class="alert-box secondary"><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit "Create Assignment", class: 'button' %>
  </p>
<% end %>
