<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>OUT*TEACH</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <h1><span class="subheader">OUT</span>TEACH</h1>
  </div>

  <div class="top-bar">
    <section class="top-bar-section">
  <ul class="right inline-list">
      <li>
        <%= link_to "Home", root_path %>
      </li>

    <% if user_signed_in? %>
      <li>
      <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
      </li>
    <% else %>
      <li>
      <%= link_to('Login', new_user_session_path) %>
      </li>
    <% end %>

  </ul>
</section>
</div>

  <% if flash[:notice] %>
    <br>
    <div class="alert-box success radius"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:alert] %>
    <br>
    <div class="alert-box alert"><%= flash[:alert] %></div>
  <% end %>

<%= yield %>

</body>
</html>
