<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Outteach</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div>
      <h1><%= link_to "OUT-TEACH", root_path %></h1>
    </div>

  <ul class="right">
    <% if user_signed_in? %>
      <li>
      <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
      </li>
    <% else %>
      <li>
      <%= link_to('Login', new_user_session_path) %>
      </li>
    <% end %>
  </ul>

  <% if flash[:notice] %>
    <br>
    <div class="alert-box success radius"><%= flash[:notice] %></div>
  <% end %>

<%= yield %>

</body>
</html>
